.containers .filters-container {
    top: 92px;
}

.containers .buttons-container {
    top: 69px;
}

.configurator-container.containers .applicant-summary__last-updated-info {
    align-items: flex-end;
}

.filter.empty {
    background: #dc3545;
}

.filter.new {
    background: #dc3545;
}

.assigned td {
    opacity: 0.3;
}

.outdated td {
    opacity: 0.3;
}

.hidden-recruiter, .hidden-discipline {
    display: none !important;
}

.fill-form {
    display: block;
    width: 100%;
}

.predefined-fields {
    width: 100%;
}