.filters-container {
    top: 92px;
}

.configurator-container .toggler {
    top: 69px;
}

.configurator-container .applicant-summary__last-updated-info {
    align-items: flex-end;
}

.filter.empty {
    background: #dc3545;
}

.filter.new {
    background: #dc3545;
}

.assigned td {
    opacity: 0.3;
}

.outdated td {
    opacity: 0.3;
}

.hidden-recruiter, .hidden-discipline {
    display: none !important;
}