span.copy {
    padding: 10px;
}

span.exchange {
    cursor: pointer;
}

span.calculate {
    cursor: pointer;
    font-size: 150%;
    line-height: 16px;
    padding: 0 10px;
}

span.prefill {
    cursor: pointer;
    font-size: 160%;
    line-height: 16px;
    padding: 0 10px;
    float: right;
}

.form-wrapper {
    font-size: 14px;
    padding: 20px;
    border: 1px solid #eee;
    background: white;
    position: absolute;
    display: none;
    z-index: 1;
    left: 100%;
    margin-left: 44px;
    box-sizing: content-box;
}

.form-wrapper form {
    white-space: nowrap;
}

.form-wrapper input:focus-visible {
    outline: none;
}

.form-wrapper button {
    font-size: 200%;
    line-height: 10px;
    padding: 0 4px 10px;
    margin: 0;
}

.form-wrapper .result {
    text-align: center;
    padding-top: 10px;
    width: 100%;
    text-transform: none;
}

.offer-tool {
    width: 100%;
}

.offer-tool .button-wrapper {
    justify-content: center;
}

.applicant-profile__additional-info-details, .content-table tr td:last-child {
    white-space: pre-line !important;
}

.modal.custom a.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #a3c644;
}

.modal.custom a.btn:hover {
    background-color: #7f993a;
}

.modal .scroll {
    margin-top: 25px;
    max-height: 250px;
    overflow-y: auto;
}

.modal .scroll a {
    display: block;
    text-align: center;
    padding: 10px 0 9.5px 0;
    border: 1px solid #eee;
    border-bottom: 0;
}

.modal .scroll a:last-child {
    border-bottom: 1px solid #eee;
}