
.filters-container {
    user-select: none;
    padding: 5px 5px 10px 20px;
    background: white;
    box-shadow: 0 0 3px black;
    position: fixed;
    z-index: 999;
    font-family: arial, sans-serif;
    font-weight: bold;
    font-size: 13px;
    right: 19px;
    top: 203px;
    text-align: center;
    transform: translateX(100%);
}

.filters-container.open {
    right: 0;
    transform: none;
}

.filters-container .filter {
    margin: 0 3px;
    color: #fff;
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    line-height: 30px;
    background: #ccc;
}

.filters-container .reset {
    margin: 0 3px;
    color: #fff;
    display: inline-block;
    position: relative;
    cursor: pointer;
    padding: 0 5px;
    border-radius: 10%;
    line-height: 30px;
    background:#a3c644;
    opacity: 0.7;
}

.filters-container .refresh {
    margin: 0 3px;
    color: #fff;
    display: inline-block;
    position: relative;
    cursor: pointer;
    padding: 0 5px;
    border-radius: 10%;
    line-height: 30px;
    background: #dc3545;
    opacity: 1;
}

.filters-container .filter:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    left: 10px;
    bottom: -7px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #39c2d7;
}

.filters-container .filter.disabled:after {
    border: none
}

.filters-container .toggler {
    border-right: 1px solid #39c2d7;
    position: absolute;
    display: flex;
    left: 0;
    top: 0;
    height: 100%;
    width: 21px;
    cursor: pointer;
}

.filters-container .toggler:after {
    cursor: pointer;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;
    content: 'ᐊ';
    margin: 0 auto;
}

.filters-container.open .toggler:after {
    content: 'ᐅ';
}

.configurator-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
}

.configurator-container .body {
    background: #fff;
    transform: translateX(101%);
    position: absolute;
    top: 60px;
    padding-bottom: 60px;
    height: 100%;
    box-shadow: 0 2px 4px 0 hsla(0, 0%, 83.9%, .5), 0 2px 10px 0 rgba(0, 0, 0, .17);
    transition: transform 0.5s;
    right: 0;
    width: 900px;
}

.configurator-container.open .body {
    transform: translateX(0);
}

.configurator-container .toggler {
    position: absolute;
    margin-left: -19px;
    cursor: pointer;
    top: 180px;
    background: #3498db;
    color: white;
    width: 20px;
    text-align: center;
}

.configurator-container .input-wrapper {
    display: flex;
}

.configurator-container input[type=checkbox] {
    margin-right: 5px;
}

.configurator-container .close:hover {
    background: none;
    opacity: .5;
}

.configurator-container .close {
    margin: 0;
    padding: 0 22px;
    height: 60px;
    font-size: 18px;
    color: #ccc;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 1;
    cursor: pointer;
}